<!DOCTYPE html>
<html lang="pt-br" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro interno do servidor – 500</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" href="{{ url_for('static', filename='img/cupom.png') }}" type="image/png">
</head>
<body class="bg-gray-100 dark:bg-gray-900 flex flex-col min-h-screen justify-center items-center text-center">

  <div class="text-center">
    <h1 class="text-6xl font-bold text-red-500 mb-4">500</h1>
    <p class="text-2xl font-semibold text-purble-400 mb-2">Erro interno do servidor</p>
    <p class="text-lg text-gray-500 dark:text-gray-400 mb-6">Algo deu errado em nosso lado. Estamos trabalhando para resolver isso.</p>
    <a href="/" class="bg-yellow-400 hover:bg-yellow-500 text-gray-900 font-semibold py-2 px-6 rounded shadow">
      Voltar para a Página Inicial
    </a>
  </div>

</body>
</html>